openapi: 3.1.0
info:
  title: HealthLog API
  version: 1.13.3
  description: >-
    Self-hosted personal-health-tracking PWA — public API surface for the iOS native client and external ingest.


    ## Date-time contract


    Every field marked `format: date-time` is an ISO-8601 instant. The schema pattern accepts both `Z` (UTC) and
    `±HH:MM` (offset) suffixes; clients must accept either. Server responses since v1.4.25 emit timestamps with the
    requesting user's display-timezone offset when a user context exists (exports, doctor-report PDF).
    Background-job-authored payloads (backups, admin tools) emit `Z`. Native iOS clients should always parse via a
    Foundation ISO-8601 formatter with the `withInternetDateTime` + `withTimeZone` options enabled.
  license:
    name: AGPL-3.0
    url: https://github.com/MBombeck/HealthLog/blob/main/LICENSE
  contact:
    name: HealthLog
    url: https://healthlog.dev
servers:
  - url: https://healthlog.bombeck.io
    description: Production
  - url: http://localhost:3000
    description: Local dev
tags:
  - name: Auth
  - name: Measurements
  - name: Medications
  - name: Mood
  - name: Analytics
  - name: Insights
  - name: Dashboard
  - name: Notifications
  - name: Devices
  - name: Export
  - name: Sync
  - name: Admin
  - name: Meta
paths:
  /api/meta/capabilities:
    get:
      tags:
        - Meta
      summary: Live server capability / id-vocabulary discovery
      description: Returns the server's REAL id vocabularies (derived-metric ids, vitals-baseline types, layout tile-ids,
        metric-status ids, the HealthKit ingest mapping, the FHIR coding constants) plus the running API contract
        version. Every list is derived server-side from the canonical registry it documents, so a client can gate its UI
        / decoder against what the server actually ships rather than a hand-maintained copy. Auth via cookie or Bearer
        (not admin).
      responses:
        "200":
          description: Capability snapshot.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapabilitiesEnvelope"
        "401": &a1
          description: Authentication required or invalid credentials.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422": &a2
          description: Request validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "429": &a3
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/export/health-record:
    post:
      tags:
        - Export
      summary: Generate a health-record export (PDF / FHIR / package)
      description: "v1.7.0 flagship export. Returns the doctor-handover artefact in the requested `format`: `pdf` →
        application/pdf, `fhir` → application/fhir+json (HL7 FHIR R4 document Bundle), `package` → application/zip (PDF
        + FHIR + README). Auth via cookie or Bearer; shared `export:<userId>` rate bucket (10/h). Strict validation:
        unknown keys 422."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                format:
                  type: string
                  enum:
                    - pdf
                    - fhir
                    - package
                range:
                  type: object
                  properties:
                    startDate:
                      type: string
                      format: date-time
                      pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                    endDate:
                      type: string
                      format: date-time
                      pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                    days:
                      type: integer
                      minimum: 1
                      maximum: 365
                  additionalProperties: false
                sections:
                  type: object
                  properties:
                    vitals:
                      type: object
                      properties:
                        weight:
                          type: boolean
                        bp:
                          type: boolean
                        pulse:
                          type: boolean
                        oxygenSaturation:
                          type: boolean
                        bodyFat:
                          type: boolean
                        bodyComposition:
                          type: boolean
                    cardioFitness:
                      type: object
                      properties:
                        restingHeartRate:
                          type: boolean
                        hrv:
                          type: boolean
                        vo2max:
                          type: boolean
                    activity:
                      type: object
                      properties:
                        steps:
                          type: boolean
                        distance:
                          type: boolean
                        energy:
                          type: boolean
                        sleep:
                          type: boolean
                    glucose:
                      type: boolean
                    medications:
                      type: object
                      properties:
                        list:
                          type: boolean
                        compliance:
                          type: boolean
                        glp1:
                          type: boolean
                        sideEffects:
                          type: boolean
                    mood:
                      type: boolean
                    bmi:
                      type: boolean
                locale:
                  type: string
                  enum:
                    - de
                    - en
                    - fr
                    - es
                    - it
                    - pl
                practiceName:
                  type: string
                  maxLength: 120
                includeCharts:
                  type: boolean
                includeAiSummary:
                  type: boolean
                germanAtc:
                  type: boolean
              required:
                - format
              additionalProperties: false
      responses:
        "200":
          description: "Export generated. Content-Type varies by `format`: application/pdf, application/fhir+json, or
            application/zip."
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            application/fhir+json:
              schema:
                type: string
                format: binary
            application/zip:
              schema:
                type: string
                format: binary
        "401": *a1
        "422": *a2
        "429": *a3
  /api/share-links:
    post:
      tags:
        - Export
      summary: Create a clinician share link (v1.11.0)
      description: "Owner-only. Mints an `hls_` token (192-bit), stores only its HMAC hash, and returns the raw token EXACTLY
        ONCE in the response. Every scope column (window, sections, FHIR resource types, API toggle) is frozen
        write-once. `expiresAt` is required and capped at 90 days. Auth via cookie or Bearer; rate-limited
        (`share-link:<userId>`, 20/h). Strict: unknown keys 422."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  minLength: 1
                  maxLength: 120
                rangeStart:
                  type: string
                  format: date-time
                  pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                rangeEnd:
                  anyOf:
                    - type: string
                      format: date-time
                      pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                    - type: "null"
                sections:
                  type: object
                  properties:
                    vitals:
                      type: object
                      properties:
                        weight:
                          type: boolean
                        bp:
                          type: boolean
                        pulse:
                          type: boolean
                        oxygenSaturation:
                          type: boolean
                        bodyFat:
                          type: boolean
                        bodyComposition:
                          type: boolean
                    cardioFitness:
                      type: object
                      properties:
                        restingHeartRate:
                          type: boolean
                        hrv:
                          type: boolean
                        vo2max:
                          type: boolean
                    activity:
                      type: object
                      properties:
                        steps:
                          type: boolean
                        distance:
                          type: boolean
                        energy:
                          type: boolean
                        sleep:
                          type: boolean
                    glucose:
                      type: boolean
                    medications:
                      type: object
                      properties:
                        list:
                          type: boolean
                        compliance:
                          type: boolean
                        glp1:
                          type: boolean
                        sideEffects:
                          type: boolean
                    mood:
                      type: boolean
                    bmi:
                      type: boolean
                resourceTypes:
                  maxItems: 8
                  type: array
                  items:
                    type: string
                    enum:
                      - Patient
                      - Observation
                      - MedicationStatement
                      - MedicationAdministration
                allowFhirApi:
                  type: boolean
                expiresAt:
                  type: string
                  format: date-time
                  pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
              required:
                - label
                - rangeStart
                - expiresAt
              additionalProperties: false
      responses:
        "201":
          description: Share link created. `token` carries the raw `hls_` value and is unrecoverable after this response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareLinkCreated"
        "401": *a1
        "422": *a2
        "429": *a3
    get:
      tags:
        - Export
      summary: List own clinician share links (v1.11.0)
      description: Owner-only. Returns the caller's own share links (never the raw token — it is unrecoverable after
        creation). Auth via cookie or Bearer.
      responses:
        "200":
          description: Share links owned by the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareLinkList"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/share-links/{id}:
    delete:
      tags:
        - Export
      summary: Revoke a clinician share link (v1.11.0)
      description: Owner-only. Sets `revokedAt` on the caller's own link. A cross-user or unknown id is sealed as 404. Auth
        via cookie or Bearer; rate-limited.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Link revoked.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareLinkRevoked"
        "401": *a1
        "404":
          description: Link not found (or owned by another user).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422": *a2
        "429": *a3
  /api/fhir/metadata:
    get:
      tags:
        - FHIR
      summary: FHIR R4 CapabilityStatement (v1.11.0)
      description: "Read-only FHIR R4 capability statement for the REST face. Declares the served resource types (Patient,
        Observation, MedicationStatement, MedicationAdministration), the `$everything` operation, and the
        `application/fhir+json` format. Auth: `fhir:read` scope (cookie sessions also pass)."
      responses:
        "200":
          description: CapabilityStatement (application/fhir+json).
          content:
            application/fhir+json:
              schema:
                type: string
                format: binary
        "401": *a1
        "422": *a2
        "429": *a3
  /api/fhir/Patient:
    get:
      tags:
        - FHIR
      summary: FHIR R4 Patient search (v1.11.0)
      description: "Read-only `searchset` Bundle of the caller's own Patient resource. Auth: `fhir:read` scope. Offset paging
        via `_count` (clamped ≤200) / `_offset`. `userId` is narrowed from auth."
      parameters:
        - in: query
          name: _count
          schema:
            type: number
        - in: query
          name: _offset
          schema:
            type: number
      responses:
        "200":
          description: searchset Bundle (application/fhir+json).
          content:
            application/fhir+json:
              schema:
                type: string
                format: binary
        "401": *a1
        "422": *a2
        "429": *a3
  /api/fhir/Observation:
    get:
      tags:
        - FHIR
      summary: FHIR R4 Observation search (v1.11.0)
      description: "Read-only `searchset` Bundle of the caller's own Observations (vitals / activity / lab / survey). Auth:
        `fhir:read` scope. Offset paging via `_count` (clamped ≤200) / `_offset`."
      parameters:
        - in: query
          name: _count
          schema:
            type: number
        - in: query
          name: _offset
          schema:
            type: number
      responses:
        "200":
          description: searchset Bundle (application/fhir+json).
          content:
            application/fhir+json:
              schema:
                type: string
                format: binary
        "401": *a1
        "422": *a2
        "429": *a3
  /api/fhir/MedicationStatement:
    get:
      tags:
        - FHIR
      summary: FHIR R4 MedicationStatement search (v1.11.0)
      description: "Read-only `searchset` Bundle of the caller's own active-medication statements. Auth: `fhir:read` scope.
        Offset paging via `_count` (≤200) / `_offset`."
      parameters:
        - in: query
          name: _count
          schema:
            type: number
        - in: query
          name: _offset
          schema:
            type: number
      responses:
        "200":
          description: searchset Bundle (application/fhir+json).
          content:
            application/fhir+json:
              schema:
                type: string
                format: binary
        "401": *a1
        "422": *a2
        "429": *a3
  /api/fhir/MedicationAdministration:
    get:
      tags:
        - FHIR
      summary: FHIR R4 MedicationAdministration search (v1.11.0)
      description: "Read-only `searchset` Bundle of the caller's own acted intakes (completed / not-done). Auth: `fhir:read`
        scope. Offset paging via `_count` (≤200) / `_offset`."
      parameters:
        - in: query
          name: _count
          schema:
            type: number
        - in: query
          name: _offset
          schema:
            type: number
      responses:
        "200":
          description: searchset Bundle (application/fhir+json).
          content:
            application/fhir+json:
              schema:
                type: string
                format: binary
        "401": *a1
        "422": *a2
        "429": *a3
  /api/fhir/$everything:
    get:
      tags:
        - FHIR
      summary: FHIR R4 $everything (v1.11.0)
      description: "Read-only `$everything` operation: every resource in the caller's own record (Patient, Coverage,
        Observations, MedicationStatements, MedicationAdministrations) in one `searchset` Bundle. Auth: `fhir:read`
        scope. Offset paging via `_count` (≤200) / `_offset`."
      parameters:
        - in: query
          name: _count
          schema:
            type: number
        - in: query
          name: _offset
          schema:
            type: number
      responses:
        "200":
          description: searchset Bundle (application/fhir+json).
          content:
            application/fhir+json:
              schema:
                type: string
                format: binary
        "401": *a1
        "422": *a2
        "429": *a3
  /api/auth/login:
    post:
      tags:
        - Auth
      summary: Email-or-username login (password)
      description: "Browser callers receive a session cookie. Native callers (X-Client-Type: native or HealthLog-iOS UA
        prefix) additionally receive a paired access + refresh token."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  minLength: 1
                password:
                  type: string
                  minLength: 1
              required:
                - email
                - password
      responses:
        "200":
          description: Login succeeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/auth/passkey/login-verify:
    post:
      tags:
        - Auth
      summary: Passkey assertion verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasskeyLoginVerifyRequest"
      responses:
        "200":
          description: Assertion verified — session + optional bearer issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PasskeyLoginVerifyResponse"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/auth/refresh:
    post:
      tags:
        - Auth
      summary: Rotate refresh token (one-time use)
      description: >-
        Reuse of a consumed refresh token revokes every refresh token still active for the originating device
        (per-device blast radius from v1.4.23). Legacy tokens issued before v1.4.23 with a null deviceId fall back to
        revoke-all-for-user.


        On a 401, `meta.errorCode` is a stable machine code so the client can branch terminal re-auth from a transient
        blip without parsing the prose `error`: `auth.refresh.reuse` (a consumed token was replayed — device family
        revoked, re-pair required), `auth.refresh.revoked` (family revoked out-of-band — re-pair required),
        `auth.refresh.invalid` (not found / expired — drop the token and re-authenticate).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokenRequest"
      responses:
        "200":
          description: Rotation succeeded — new pair issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshResponse"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/sync/state:
    get:
      tags:
        - Sync
      summary: Sync handshake + window metadata
      description: Cheap 'should I sync?' summary. Returns the previous `lastSyncedAt` checkpoint and advances it server-side
        on each call. The `sync` block carries the incremental-delta window + tombstone retention so the client reads
        them rather than hardcoding.
      responses:
        "200":
          description: Sync state summary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncStateEnvelope"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/sync/changes:
    get:
      tags:
        - Sync
      summary: Measurements delta feed
      description: "Incremental catch-up after the first-pair backfill (never a replacement for it). Pages over an opaque
        keyset cursor; each page carries `tombstones` (soft-deleted rows, keyed on `externalId`) and `upserts` (live
        rows). Apply tombstones before upserts within a page. `cursorExpired: true` forces a clean re-init."
      parameters:
        - in: query
          name: cursor
          schema:
            description: Opaque multi-domain keyset cursor from the previous page. Treat as fully opaque — echo, never parse. Omit
              for the initial sync.
            type: string
            minLength: 1
            maxLength: 2048
          description: Opaque multi-domain keyset cursor from the previous page. Treat as fully opaque — echo, never parse. Omit
            for the initial sync.
        - in: query
          name: limit
          schema:
            description: Page size, default 200, hard cap 500.
            type: integer
            minimum: 1
            maximum: 500
          description: Page size, default 200, hard cap 500.
      responses:
        "200":
          description: Delta page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncChangesEnvelope"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/measurements:
    get:
      tags:
        - Measurements
      summary: List measurements
      description: Filter by type + date range. Response is paged via offset/limit; default limit 100, hard cap 500.
      parameters:
        - in: query
          name: type
          schema:
            type: string
            enum:
              - WEIGHT
              - BLOOD_PRESSURE_SYS
              - BLOOD_PRESSURE_DIA
              - PULSE
              - BODY_FAT
              - SLEEP_DURATION
              - ACTIVITY_STEPS
              - BLOOD_GLUCOSE
              - TOTAL_BODY_WATER
              - BONE_MASS
              - OXYGEN_SATURATION
              - HEART_RATE_VARIABILITY
              - RESTING_HEART_RATE
              - ACTIVE_ENERGY_BURNED
              - FLIGHTS_CLIMBED
              - WALKING_RUNNING_DISTANCE
              - VO2_MAX
              - BODY_TEMPERATURE
              - FAT_FREE_MASS
              - FAT_MASS
              - MUSCLE_MASS
              - SKIN_TEMPERATURE
              - PULSE_WAVE_VELOCITY
              - VASCULAR_AGE
              - VISCERAL_FAT
              - AUDIO_EXPOSURE_ENV
              - AUDIO_EXPOSURE_HEADPHONE
              - TIME_IN_DAYLIGHT
              - WALKING_STEADINESS
              - AUDIO_EXPOSURE_EVENT
              - RESPIRATORY_RATE
              - BODY_MASS_INDEX
              - LEAN_BODY_MASS
              - WALKING_HEART_RATE_AVERAGE
              - WALKING_ASYMMETRY
              - WALKING_DOUBLE_SUPPORT
              - WALKING_STEP_LENGTH
              - WALKING_SPEED
              - CARDIO_RECOVERY
              - WRIST_TEMPERATURE
              - FALL_COUNT
              - SIX_MINUTE_WALK_DISTANCE
              - STAIR_ASCENT_SPEED
              - STAIR_DESCENT_SPEED
              - BREATHING_DISTURBANCES
              - IRREGULAR_RHYTHM_NOTIFICATION
              - HIGH_HEART_RATE_EVENT
              - LOW_HEART_RATE_EVENT
              - WALKING_STEADINESS_EVENT
              - BREATHING_DISTURBANCE_EVENT
              - RECOVERY_SCORE
              - STRESS_SCORE
              - STRAIN_SCORE
              - HRV_RMSSD
              - DAY_STRAIN
              - WORKOUT_STRAIN
              - SLEEP_PERFORMANCE
              - SLEEP_EFFICIENCY
              - SLEEP_CONSISTENCY
              - SLEEP_NEED
              - ENERGY_EXPENDITURE_KJ
              - AVERAGE_HEART_RATE
              - MAX_HEART_RATE
              - SLEEP_DISTURBANCE_COUNT
        - in: query
          name: from
          schema:
            type: string
            format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
        - in: query
          name: to
          schema:
            type: string
            format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
        - in: query
          name: limit
          schema:
            default: 100
            type: integer
            minimum: 1
            maximum: 5000
        - in: query
          name: offset
          schema:
            default: 0
            type: integer
            minimum: 0
            maximum: 9007199254740991
        - in: query
          name: sortBy
          schema:
            default: measuredAt
            type: string
            enum:
              - type
              - value
              - measuredAt
              - source
        - in: query
          name: sortDir
          schema:
            default: desc
            type: string
            enum:
              - asc
              - desc
        - in: query
          name: aggregate
          schema:
            type: string
            enum:
              - raw
              - daily
              - weekly
              - monthly
        - in: query
          name: source
          schema:
            type: string
            enum:
              - rollup
        - in: query
          name: groupBy
          schema:
            type: string
            enum:
              - day
        - in: query
          name: dayKey
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
      responses:
        "200":
          description: Measurement page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMeasurementsResponse"
        "401": *a1
        "422": *a2
        "429": *a3
    post:
      tags:
        - Measurements
      summary: Create one measurement
      description: Single ingest. Use `/api/measurements/batch` for Apple Health upload streams.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - WEIGHT
                    - BLOOD_PRESSURE_SYS
                    - BLOOD_PRESSURE_DIA
                    - PULSE
                    - BODY_FAT
                    - SLEEP_DURATION
                    - ACTIVITY_STEPS
                    - BLOOD_GLUCOSE
                    - TOTAL_BODY_WATER
                    - BONE_MASS
                    - OXYGEN_SATURATION
                    - HEART_RATE_VARIABILITY
                    - RESTING_HEART_RATE
                    - ACTIVE_ENERGY_BURNED
                    - FLIGHTS_CLIMBED
                    - WALKING_RUNNING_DISTANCE
                    - VO2_MAX
                    - BODY_TEMPERATURE
                    - FAT_FREE_MASS
                    - FAT_MASS
                    - MUSCLE_MASS
                    - SKIN_TEMPERATURE
                    - PULSE_WAVE_VELOCITY
                    - VASCULAR_AGE
                    - VISCERAL_FAT
                    - AUDIO_EXPOSURE_ENV
                    - AUDIO_EXPOSURE_HEADPHONE
                    - TIME_IN_DAYLIGHT
                    - WALKING_STEADINESS
                    - AUDIO_EXPOSURE_EVENT
                    - RESPIRATORY_RATE
                    - BODY_MASS_INDEX
                    - LEAN_BODY_MASS
                    - WALKING_HEART_RATE_AVERAGE
                    - WALKING_ASYMMETRY
                    - WALKING_DOUBLE_SUPPORT
                    - WALKING_STEP_LENGTH
                    - WALKING_SPEED
                    - CARDIO_RECOVERY
                    - WRIST_TEMPERATURE
                    - FALL_COUNT
                    - SIX_MINUTE_WALK_DISTANCE
                    - STAIR_ASCENT_SPEED
                    - STAIR_DESCENT_SPEED
                    - BREATHING_DISTURBANCES
                    - IRREGULAR_RHYTHM_NOTIFICATION
                    - HIGH_HEART_RATE_EVENT
                    - LOW_HEART_RATE_EVENT
                    - WALKING_STEADINESS_EVENT
                    - BREATHING_DISTURBANCE_EVENT
                    - RECOVERY_SCORE
                    - STRESS_SCORE
                    - STRAIN_SCORE
                    - HRV_RMSSD
                    - DAY_STRAIN
                    - WORKOUT_STRAIN
                    - SLEEP_PERFORMANCE
                    - SLEEP_EFFICIENCY
                    - SLEEP_CONSISTENCY
                    - SLEEP_NEED
                    - ENERGY_EXPENDITURE_KJ
                    - AVERAGE_HEART_RATE
                    - MAX_HEART_RATE
                    - SLEEP_DISTURBANCE_COUNT
                value:
                  type: number
                measuredAt:
                  type: string
                  format: date-time
                  pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                notes:
                  type: string
                  maxLength: 200
                source:
                  default: MANUAL
                  type: string
                  enum:
                    - MANUAL
                    - APPLE_HEALTH
                glucoseContext:
                  type: string
                  enum:
                    - FASTING
                    - POSTPRANDIAL
                    - RANDOM
                    - BEDTIME
                deviceType:
                  anyOf:
                    - type: string
                      minLength: 1
                      maxLength: 32
                    - type: "null"
              required:
                - type
                - value
                - measuredAt
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateMeasurementResponse"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/measurements/batch:
    post:
      tags:
        - Measurements
      summary: Apple Health batch ingest
      description: Up to 500 HealthKit entries per call. Idempotent via the `Idempotency-Key` header (replay window 24h).
        Per-entry status lets the iOS client advance its sync cursor accurately. v1.4.25 W8c adds an optional
        `deviceType` per entry — feed it from `HKDevice.model` so the cross-source canonical picker can break
        Apple-Watch-vs-iPhone ties; null/absent stays backward-compatible with v1.4.23 clients.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppleHealthBatchRequest"
      responses:
        "200":
          description: Batch processed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchMeasurementsResponse"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/measurements/by-external-ids:
    delete:
      tags:
        - Measurements
      summary: Delete measurements by external ID (iOS deletion-sync)
      description: Removes the user's measurement rows whose externalId is in the request list. Rows owned by another user are
        silently skipped (cross-user 404 guard). Up to 500 externalIds per call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MeasurementsDeleteByExternalIdsRequest"
      responses:
        "200":
          description: Delete batch processed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeasurementsDeleteByExternalIdsResponse"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/sleep/night:
    get:
      tags:
        - Measurements
      summary: Reconstructed sleep night (hypnogram source, v1.11.5)
      description: "Returns one night's reconstructed sleep session for the phase-progression (hypnogram) view: the canonical
        source's stage segments (each with an absolute start/end), the per-stage breakdown, asleep/in-bed/awake totals,
        the mid-sleep awakenings count, and same-wake-day naps surfaced separately. Session-clustered, keyed by the
        local wake day, collapsed to one source via the sleep priority ladder so two sources never overlay. `date`
        omitted returns the most recent night. A read-only view over existing per-stage SLEEP_DURATION rows — no schema,
        no new measurement type."
      parameters:
        - in: query
          name: date
          schema:
            description: Wake-day key (YYYY-MM-DD). Omit for the most recent night.
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
          description: Wake-day key (YYYY-MM-DD). Omit for the most recent night.
      responses:
        "200":
          description: Reconstructed night.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SleepNightResponse"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/workouts:
    get:
      tags:
        - Measurements
      summary: List workouts (v1.4.32)
      description: "Paginated workout list with cross-source canonical-row dedup. The picker reads the per-user
        source-priority ladder and buckets by `(startedAt 5 min slot, sportType)` — twin workouts (Apple Watch +
        Withings ScanWatch) collapse to a single canonical row per cluster. Field names mirror the iOS handoff contract:
        `distanceM`, `activeEnergyKcal`, `avgHr`, `maxHr`."
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            maximum: 9007199254740991
        - in: query
          name: since
          schema:
            type: string
            format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
        - in: query
          name: until
          schema:
            type: string
            format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
        - in: query
          name: sportType
          schema:
            type: string
      responses:
        "200":
          description: Canonical workout page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWorkoutsResponse"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/workouts/{id}:
    get:
      tags:
        - Measurements
      summary: Workout detail (v1.4.32)
      description: Single-workout envelope. Owns the optional `WorkoutRoute` GeoJSON geometry + `canonicalId` pointer that
        resolves to the cluster winner so deep-links into non-canonical twin rows can redirect cleanly. Cross-user rows
        surface as 404 (existence channel sealed).
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Workout detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetWorkoutResponse"
        "401": *a1
        "404":
          description: Workout not found (or owned by another user).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422": *a2
        "429": *a3
  /api/workouts/batch:
    post:
      tags:
        - Measurements
      summary: Typed workout batch ingest (v1.4.25 W16b)
      description: Server-side ingest endpoint for HKWorkout records (iOS) and Withings activity rows (server-to-server). Up
        to 100 workouts per call; nested route geometry (GeoJSON LineString) is capped at 20 000 points and stored in a
        1:1 `WorkoutRoute` row keyed by `workoutId`. Idempotent via the `Idempotency-Key` header (replay window 24h).
        Per-entry status (`inserted | duplicate | skipped`) lets the iOS sync cursor checkpoint accurately. The request
        body ceiling is 5 MB enforced at the HTTP layer — clients above the ceiling receive a 413 with
        `workout.batch.payload_too_large`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workouts:
                  minItems: 1
                  maxItems: 100
                  type: array
                  items:
                    type: object
                    properties:
                      sportType:
                        type: string
                        enum:
                          - walking
                          - running
                          - cycling
                          - hiking
                          - swimming
                          - rowing
                          - elliptical
                          - stairClimber
                          - yoga
                          - mindAndBody
                          - strength
                          - hiit
                          - dance
                          - golf
                          - tennis
                          - basketball
                          - soccer
                          - crossTraining
                          - mixedCardio
                          - other
                      startedAt:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                      endedAt:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                      totalEnergyKcal:
                        type: number
                        minimum: 0
                        maximum: 50000
                      totalDistanceM:
                        type: number
                        minimum: 0
                        maximum: 1000000
                      avgHeartRate:
                        type: integer
                        minimum: 20
                        maximum: 300
                      maxHeartRate:
                        type: integer
                        minimum: 20
                        maximum: 300
                      minHeartRate:
                        type: integer
                        minimum: 20
                        maximum: 300
                      stepCount:
                        type: integer
                        minimum: 0
                        maximum: 200000
                      elevationM:
                        type: number
                        minimum: -500
                        maximum: 10000
                      pauseDurationSec:
                        type: integer
                        minimum: 0
                        maximum: 86400
                      source:
                        default: MANUAL
                        type: string
                        enum:
                          - MANUAL
                          - WITHINGS
                          - IMPORT
                          - APPLE_HEALTH
                          - COMPUTED
                          - WHOOP
                          - FITBIT
                      externalId:
                        type: string
                        maxLength: 128
                      externalSourceVersion:
                        type: string
                        maxLength: 64
                      metadata:
                        type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                      route:
                        type: object
                        properties:
                          geometry:
                            type: object
                            properties:
                              type:
                                type: string
                                const: LineString
                              coordinates:
                                minItems: 2
                                maxItems: 20000
                                type: array
                                items:
                                  type: array
                                  prefixItems:
                                    - type: number
                                      minimum: -180
                                      maximum: 180
                                    - type: number
                                      minimum: -90
                                      maximum: 90
                                  items:
                                    type: number
                            required:
                              - type
                              - coordinates
                          sampleTimestamps:
                            type: array
                            items:
                              type: object
                              properties:
                                t:
                                  type: string
                                  format: date-time
                                  pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                                speedMs:
                                  type: number
                                  minimum: 0
                                  maximum: 50
                                hr:
                                  type: integer
                                  minimum: 20
                                  maximum: 300
                              required:
                                - t
                        required:
                          - geometry
                      samples:
                        minItems: 1
                        maxItems: 30000
                        type: array
                        items:
                          type: object
                          properties:
                            t:
                              type: string
                              format: date-time
                              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                            hr:
                              type: integer
                              minimum: 20
                              maximum: 300
                            speedMs:
                              type: number
                              minimum: 0
                              maximum: 50
                            power:
                              type: number
                              minimum: 0
                              maximum: 3000
                            cadence:
                              type: number
                              minimum: 0
                              maximum: 400
                          required:
                            - t
                    required:
                      - sportType
                      - startedAt
                      - endedAt
              required:
                - workouts
      responses:
        "200":
          description: Batch processed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchWorkoutsResponse"
        "400":
          description: Batch validation failed (over-cap, schema reject, or oversized route).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401": *a1
        "413":
          description: Request body exceeds the 5 MB ceiling.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422": *a2
        "429": *a3
  /api/devices:
    post:
      tags:
        - Devices
      summary: Register native device + APNs token
      description: Idempotent upsert by `token`. APNs token + environment are paired — supplying one without the other returns
        422. Cross-user re-registration of either identifier returns 409.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceRegisterRequest"
      responses:
        "201":
          description: Device registered or refreshed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceRegisterResponse"
        "401": *a1
        "409":
          description: Device or APNs token already registered to another user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422": *a2
        "429": *a3
  /api/medications:
    get:
      tags:
        - Medications
      summary: List medications for the calling user
      description: Returns every medication owned by the caller (active + paused), ordered by `createdAt DESC`. Each row
        carries its nested `schedules`, the joined clinical `category`, the latest non-skipped `lastTakenAt`, and the
        count of intake events scheduled for today (`todayEventCount`). The response is cached server-side for 60 s per
        user; writes flush the cache.
      responses:
        "200":
          description: Medication list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMedicationsResponse"
        "401": *a1
        "422": *a2
        "429": *a3
    post:
      tags:
        - Medications
      summary: Create a medication with at least one schedule
      description: Validates the body against `CreateMedicationRequest`, applies the v1.5 cross-field invariants (one-shot
        consistency, recurring default `FREQ=DAILY`, `timesOfDay` dual-write), and creates the medication + its
        schedules in a single Prisma write. Audits as `medication.create`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMedicationRequest"
      responses:
        "201":
          description: Created medication with its schedules.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateMedicationResponse"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/medications/{id}:
    get:
      tags:
        - Medications
      summary: Fetch a single medication
      description: Returns the medication + its schedules + the joined `category`. Cross-user rows surface as 404 (existence
        channel sealed).
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Medication detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMedicationResponse"
        "401": *a1
        "404":
          description: Medication not found (or owned by another user).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422": *a2
        "429": *a3
    put:
      tags:
        - Medications
      summary: Replace a medication (partial fields)
      description: Every field on the body is optional; omitted fields are left untouched. Supplying `schedules` REPLACES the
        medication's full schedule list (the route deletes existing rows before re-creating). Flipping `active` to false
        stamps `pausedAt`; flipping back to true clears it. v1.5 invariants on the `schedules` array match `POST
        /api/medications`. Audits as `medication.update`.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMedicationRequest"
      responses:
        "200":
          description: Updated medication.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateMedicationResponse"
        "401": *a1
        "404":
          description: Medication not found (or owned by another user).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422": *a2
        "429": *a3
    delete:
      tags:
        - Medications
      summary: Delete a medication
      description: Cascades to the medication's schedules, intake events, dose changes, inventory rows, and side-effect logs.
        Revokes every API token scoped to `medication:<id>:ingest`. Audits as `medication.delete`.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Deletion succeeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteMedicationResponse"
        "401": *a1
        "404":
          description: Medication not found (or owned by another user).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422": *a2
        "429": *a3
  /api/medications/{id}/intake:
    post:
      tags:
        - Medications
      summary: Log an intake event for a medication
      description: Records a taken or skipped dose. Idempotent via the `Idempotency-Key` header AND the optional
        `idempotencyKey` body field (the route walks both paths); a re-post inside the 60 s server-side dedup window
        returns the original event. Non-skipped intakes auto-decrement pen inventory (best-effort), refresh the per-day
        compliance rollup, and — for `oneShot:true` medications — flip `active` to false.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MedicationIntakeRequest"
      responses:
        "200":
          description: Idempotent replay — the original event is returned without creating a new row.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplayMedicationIntakeResponse"
        "201":
          description: Intake event created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateMedicationIntakeResponse"
        "401": *a1
        "404":
          description: Medication not found (or owned by another user).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422": *a2
        "429": *a3
  /api/medications/extract:
    post:
      tags:
        - Medications
      summary: Extract scheduling fields from a free-text medication description
      description: Runs the user's free-text description through the Coach provider chain and returns a citation-guarded
        partial payload the wizard merges onto whatever the user already typed. `name` and `dose` are dropped when not
        substring-matched in the original text so the wizard cannot land a hallucinated brand or dose. `cadenceKind` /
        `doseUnit` / `weekdays` are closed enums; numeric fields are clamped. Rate-limited 10 requests / 5 minutes /
        user, gated against the daily Coach token budget.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MedicationExtractRequest"
      responses:
        "200":
          description: Citation-guarded partial extraction.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MedicationExtractResponse"
        "401": *a1
        "422": *a2
        "429": *a3
        "502":
          description: Upstream provider returned an empty, unparseable, or off-schema reply.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: No AI provider configured for the calling user (or operator).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /api/medications/{id}/cadence:
    get:
      tags:
        - Medications
      summary: Cadence + compliance read for a medication
      description: Returns the expected-vs-actual dose timeline for the requested window plus the four compliance chip values
        that drive the detail-page section. Pure computation — no writes. Day boundaries are resolved in the user's IANA
        timezone so a Tokyo user and a Berlin user see the same chips for the same medication. The `days` query
        parameter caps at 180.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
        - in: query
          name: days
          schema:
            description: Window size in days (default 30, max 180).
            type: integer
            minimum: 1
            maximum: 180
          description: Window size in days (default 30, max 180).
      responses:
        "200":
          description: Cadence response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMedicationCadenceResponse"
        "401": *a1
        "404":
          description: Medication not found (or owned by another user).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422": *a2
        "429": *a3
  /api/medications/{id}/compliance:
    get:
      tags:
        - Medications
      summary: Adherence read for a medication
      description: Returns the 7- and 30-day adherence summaries, the per-day compliance grid for the history glyph track, and
        the two-row display block. Pure computation — no writes. Day boundaries are resolved in the user's IANA
        timezone, and the expected-dose denominator is cadence-aware (RRULE / rolling / one-shot / PRN / cyclic) and
        clamped to the medication's `createdAt`. Read `compliance30` for the headline 30-day taken-vs-expected
        percentage; build the per-day glyph track from `dailyCompliance` (draw a cell only where `due === true`).
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Compliance response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMedicationComplianceResponse"
        "401": *a1
        "404":
          description: Medication not found (or owned by another user).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422": *a2
        "429": *a3
  /api/auth/me/coach-prefs:
    get:
      tags:
        - Auth
      summary: Read per-user Coach prompt-tuning preferences
      description: Returns the persisted preferences with defaults filled in. Null persisted state resolves to the legacy
        v1.4.22 defaults.
      responses:
        "200":
          description: Resolved preferences.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCoachPrefsResponse"
        "401": *a1
        "422": *a2
        "429": *a3
    put:
      tags:
        - Auth
      summary: Replace per-user Coach prompt-tuning preferences
      description: Persists the supplied prefs. Body is validated against `CoachPrefs`; missing keys fall back to the
        documented defaults.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tone:
                  default: warm
                  type: string
                  enum:
                    - warm
                    - neutral
                    - concise
                verbosity:
                  default: default
                  type: string
                  enum:
                    - brief
                    - default
                    - detailed
                excludeMetrics:
                  default: []
                  maxItems: 11
                  type: array
                  items:
                    type: string
                    enum:
                      - bp
                      - weight
                      - pulse
                      - mood
                      - compliance
                      - hrv
                      - sleep
                      - resting_hr
                      - steps
                      - medications
                      - anthropometrics
                showEvidenceByDefault:
                  default: false
                  type: boolean
                defaultWindow:
                  default: allTime
                  type: string
                  enum:
                    - last7days
                    - last30days
                    - last90days
                    - allTime
                dataClusters:
                  maxItems: 10
                  type: array
                  items:
                    type: string
                    enum:
                      - cardio
                      - body
                      - activity
                      - workouts
                      - sleep
                      - mood
                      - glucose
                      - medication
                      - mobility
                      - environment
      responses:
        "200":
          description: Saved preferences echoed back.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PutCoachPrefsResponse"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/auth/me/disable-coach:
    get:
      tags:
        - Auth
      summary: Read per-user Coach opt-out flag
      description: Returns the user's per-account Coach opt-out flag. Default `false` (Coach visible). Powers the Settings →
        Insights "Hide Coach" Switch and the layout FAB short-circuit.
      responses:
        "200":
          description: Resolved flag.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDisableCoachResponse"
        "401": *a1
        "422": *a2
        "429": *a3
    patch:
      tags:
        - Auth
      summary: Toggle per-user Coach opt-out flag
      description: Flips the per-account Coach opt-out flag. Idempotent — the DB write fires even when the value matches so
        the audit-log row mirrors the API call. Rate-limit 60/min per user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisableCoachFlag"
      responses:
        "200":
          description: Resolved next-state echoed back for optimistic-update consumers.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatchDisableCoachResponse"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/auth/me/source-priority:
    get:
      tags:
        - Auth
      summary: Read per-user source priority
      description: Returns the per-metric-class source priority used by the analytics aggregator. Missing keys fall back to
        `DEFAULT_SOURCE_PRIORITY`. Null persisted state resolves to the documented defaults.
      responses:
        "200":
          description: Resolved priority.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSourcePriorityResponse"
        "401": *a1
        "422": *a2
        "429": *a3
    put:
      tags:
        - Auth
      summary: Replace per-user source priority
      description: Persists the supplied priority. Body is validated against `SourcePriority`; missing keys read as
        `DEFAULT_SOURCE_PRIORITY` at the call site.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                steps:
                  maxItems: 8
                  type: array
                  items:
                    type: string
                    enum:
                      - MANUAL
                      - WITHINGS
                      - IMPORT
                      - APPLE_HEALTH
                      - COMPUTED
                      - WHOOP
                      - FITBIT
                activeEnergy:
                  maxItems: 8
                  type: array
                  items:
                    type: string
                    enum:
                      - MANUAL
                      - WITHINGS
                      - IMPORT
                      - APPLE_HEALTH
                      - COMPUTED
                      - WHOOP
                      - FITBIT
                walkingRunningDistance:
                  maxItems: 8
                  type: array
                  items:
                    type: string
                    enum:
                      - MANUAL
                      - WITHINGS
                      - IMPORT
                      - APPLE_HEALTH
                      - COMPUTED
                      - WHOOP
                      - FITBIT
                flightsClimbed:
                  maxItems: 8
                  type: array
                  items:
                    type: string
                    enum:
                      - MANUAL
                      - WITHINGS
                      - IMPORT
                      - APPLE_HEALTH
                      - COMPUTED
                      - WHOOP
                      - FITBIT
                sleep:
                  maxItems: 8
                  type: array
                  items:
                    type: string
                    enum:
                      - MANUAL
                      - WITHINGS
                      - IMPORT
                      - APPLE_HEALTH
                      - COMPUTED
                      - WHOOP
                      - FITBIT
                weight:
                  maxItems: 8
                  type: array
                  items:
                    type: string
                    enum:
                      - MANUAL
                      - WITHINGS
                      - IMPORT
                      - APPLE_HEALTH
                      - COMPUTED
                      - WHOOP
                      - FITBIT
                bloodPressure:
                  maxItems: 8
                  type: array
                  items:
                    type: string
                    enum:
                      - MANUAL
                      - WITHINGS
                      - IMPORT
                      - APPLE_HEALTH
                      - COMPUTED
                      - WHOOP
                      - FITBIT
                pulse:
                  maxItems: 8
                  type: array
                  items:
                    type: string
                    enum:
                      - MANUAL
                      - WITHINGS
                      - IMPORT
                      - APPLE_HEALTH
                      - COMPUTED
                      - WHOOP
                      - FITBIT
                bodyFat:
                  maxItems: 8
                  type: array
                  items:
                    type: string
                    enum:
                      - MANUAL
                      - WITHINGS
                      - IMPORT
                      - APPLE_HEALTH
                      - COMPUTED
                      - WHOOP
                      - FITBIT
                bodyTemperature:
                  maxItems: 8
                  type: array
                  items:
                    type: string
                    enum:
                      - MANUAL
                      - WITHINGS
                      - IMPORT
                      - APPLE_HEALTH
                      - COMPUTED
                      - WHOOP
                      - FITBIT
                spo2:
                  maxItems: 8
                  type: array
                  items:
                    type: string
                    enum:
                      - MANUAL
                      - WITHINGS
                      - IMPORT
                      - APPLE_HEALTH
                      - COMPUTED
                      - WHOOP
                      - FITBIT
                hrv:
                  maxItems: 8
                  type: array
                  items:
                    type: string
                    enum:
                      - MANUAL
                      - WITHINGS
                      - IMPORT
                      - APPLE_HEALTH
                      - COMPUTED
                      - WHOOP
                      - FITBIT
                restingHeartRate:
                  maxItems: 8
                  type: array
                  items:
                    type: string
                    enum:
                      - MANUAL
                      - WITHINGS
                      - IMPORT
                      - APPLE_HEALTH
                      - COMPUTED
                      - WHOOP
                      - FITBIT
                vo2Max:
                  maxItems: 8
                  type: array
                  items:
                    type: string
                    enum:
                      - MANUAL
                      - WITHINGS
                      - IMPORT
                      - APPLE_HEALTH
                      - COMPUTED
                      - WHOOP
                      - FITBIT
                skinTemperature:
                  maxItems: 8
                  type: array
                  items:
                    type: string
                    enum:
                      - MANUAL
                      - WITHINGS
                      - IMPORT
                      - APPLE_HEALTH
                      - COMPUTED
                      - WHOOP
                      - FITBIT
                respiratoryRate:
                  maxItems: 8
                  type: array
                  items:
                    type: string
                    enum:
                      - MANUAL
                      - WITHINGS
                      - IMPORT
                      - APPLE_HEALTH
                      - COMPUTED
                      - WHOOP
                      - FITBIT
                recovery:
                  maxItems: 8
                  type: array
                  items:
                    type: string
                    enum:
                      - MANUAL
                      - WITHINGS
                      - IMPORT
                      - APPLE_HEALTH
                      - COMPUTED
                      - WHOOP
                      - FITBIT
                metricPriority:
                  type: object
                  properties:
                    steps:
                      maxItems: 8
                      type: array
                      items:
                        type: string
                        enum:
                          - MANUAL
                          - WITHINGS
                          - IMPORT
                          - APPLE_HEALTH
                          - COMPUTED
                          - WHOOP
                          - FITBIT
                    activeEnergy:
                      maxItems: 8
                      type: array
                      items:
                        type: string
                        enum:
                          - MANUAL
                          - WITHINGS
                          - IMPORT
                          - APPLE_HEALTH
                          - COMPUTED
                          - WHOOP
                          - FITBIT
                    walkingRunningDistance:
                      maxItems: 8
                      type: array
                      items:
                        type: string
                        enum:
                          - MANUAL
                          - WITHINGS
                          - IMPORT
                          - APPLE_HEALTH
                          - COMPUTED
                          - WHOOP
                          - FITBIT
                    flightsClimbed:
                      maxItems: 8
                      type: array
                      items:
                        type: string
                        enum:
                          - MANUAL
                          - WITHINGS
                          - IMPORT
                          - APPLE_HEALTH
                          - COMPUTED
                          - WHOOP
                          - FITBIT
                    sleep:
                      maxItems: 8
                      type: array
                      items:
                        type: string
                        enum:
                          - MANUAL
                          - WITHINGS
                          - IMPORT
                          - APPLE_HEALTH
                          - COMPUTED
                          - WHOOP
                          - FITBIT
                    weight:
                      maxItems: 8
                      type: array
                      items:
                        type: string
                        enum:
                          - MANUAL
                          - WITHINGS
                          - IMPORT
                          - APPLE_HEALTH
                          - COMPUTED
                          - WHOOP
                          - FITBIT
                    bloodPressure:
                      maxItems: 8
                      type: array
                      items:
                        type: string
                        enum:
                          - MANUAL
                          - WITHINGS
                          - IMPORT
                          - APPLE_HEALTH
                          - COMPUTED
                          - WHOOP
                          - FITBIT
                    pulse:
                      maxItems: 8
                      type: array
                      items:
                        type: string
                        enum:
                          - MANUAL
                          - WITHINGS
                          - IMPORT
                          - APPLE_HEALTH
                          - COMPUTED
                          - WHOOP
                          - FITBIT
                    bodyFat:
                      maxItems: 8
                      type: array
                      items:
                        type: string
                        enum:
                          - MANUAL
                          - WITHINGS
                          - IMPORT
                          - APPLE_HEALTH
                          - COMPUTED
                          - WHOOP
                          - FITBIT
                    bodyTemperature:
                      maxItems: 8
                      type: array
                      items:
                        type: string
                        enum:
                          - MANUAL
                          - WITHINGS
                          - IMPORT
                          - APPLE_HEALTH
                          - COMPUTED
                          - WHOOP
                          - FITBIT
                    spo2:
                      maxItems: 8
                      type: array
                      items:
                        type: string
                        enum:
                          - MANUAL
                          - WITHINGS
                          - IMPORT
                          - APPLE_HEALTH
                          - COMPUTED
                          - WHOOP
                          - FITBIT
                    hrv:
                      maxItems: 8
                      type: array
                      items:
                        type: string
                        enum:
                          - MANUAL
                          - WITHINGS
                          - IMPORT
                          - APPLE_HEALTH
                          - COMPUTED
                          - WHOOP
                          - FITBIT
                    restingHeartRate:
                      maxItems: 8
                      type: array
                      items:
                        type: string
                        enum:
                          - MANUAL
                          - WITHINGS
                          - IMPORT
                          - APPLE_HEALTH
                          - COMPUTED
                          - WHOOP
                          - FITBIT
                    vo2Max:
                      maxItems: 8
                      type: array
                      items:
                        type: string
                        enum:
                          - MANUAL
                          - WITHINGS
                          - IMPORT
                          - APPLE_HEALTH
                          - COMPUTED
                          - WHOOP
                          - FITBIT
                    skinTemperature:
                      maxItems: 8
                      type: array
                      items:
                        type: string
                        enum:
                          - MANUAL
                          - WITHINGS
                          - IMPORT
                          - APPLE_HEALTH
                          - COMPUTED
                          - WHOOP
                          - FITBIT
                    respiratoryRate:
                      maxItems: 8
                      type: array
                      items:
                        type: string
                        enum:
                          - MANUAL
                          - WITHINGS
                          - IMPORT
                          - APPLE_HEALTH
                          - COMPUTED
                          - WHOOP
                          - FITBIT
                    recovery:
                      maxItems: 8
                      type: array
                      items:
                        type: string
                        enum:
                          - MANUAL
                          - WITHINGS
                          - IMPORT
                          - APPLE_HEALTH
                          - COMPUTED
                          - WHOOP
                          - FITBIT
                deviceTypePriority:
                  type: object
                  properties:
                    default:
                      maxItems: 8
                      type: array
                      items:
                        type: string
                        enum:
                          - watch
                          - band
                          - ring
                          - phone
                          - scale
                          - other
                          - unknown
                  additionalProperties:
                    maxItems: 8
                    type: array
                    items:
                      type: string
                      enum:
                        - watch
                        - band
                        - ring
                        - phone
                        - scale
                        - other
                        - unknown
      responses:
        "200":
          description: Saved priority (defaulted) echoed back.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PutSourcePriorityResponse"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/user/avatar:
    post:
      tags:
        - Auth
      summary: Upload the calling user's avatar
      description: "Multipart upload (field `file`). Accepts image/jpeg, image/png, image/webp; rejects anything else at the
        magic-byte sniff (the multipart Content-Type header is informational only). Hard caps: 2 MiB body, 2048×2048
        dimensions. Replaces the v1.4.22 Gravatar leak by storing the bytes on the User row + serving them from
        same-origin."
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: Binary image payload (JPEG / PNG / WebP). Hard-capped at 2 MiB and 2048×2048.
              required:
                - file
      responses:
        "201":
          description: Avatar saved. `avatarUrl` is the same value the /me payload returns; the `?v=` suffix busts client caches
            on re-upload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadAvatarResponse"
        "401": *a1
        "413":
          description: Upload exceeds the 2 MiB byte limit or the 2048×2048 dimension limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "415":
          description: Image format is not one of JPEG / PNG / WebP (magic-byte sniff).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422": *a2
        "429": *a3
    delete:
      tags:
        - Auth
      summary: Clear the calling user's avatar
      description: Resets the avatar columns to null. Idempotent — a delete on an already-empty row returns 204 with no
        audit-log row.
      responses:
        "204":
          description: Avatar cleared (or already empty).
        "401": *a1
        "422": *a2
        "429": *a3
  /api/user/avatar/{id}:
    get:
      tags:
        - Auth
      summary: Serve a user's avatar bytes
      description: Owner-scoped. The `{id}` path segment must match the calling user's id — cross-user reads return 403.
        Response body is the raw image bytes with the persisted `Content-Type`; the /me payload appends
        `?v={updatedAtMs}` so clients can cache aggressively.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: User id (must match the calling user).
          required: true
          description: User id (must match the calling user).
      responses:
        "200":
          description: Avatar bytes.
          content:
            image/jpeg:
              schema:
                type: string
                description: Raw JPEG bytes.
            image/png:
              schema:
                type: string
                description: Raw PNG bytes.
            image/webp:
              schema:
                type: string
                description: Raw WebP bytes.
        "401": *a1
        "403":
          description: Caller is not the avatar's owner.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: The user has no uploaded avatar.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422": *a2
        "429": *a3
  /api/user/profile:
    get:
      tags:
        - Auth
      summary: Read the calling user's profile
      description: Flattened profile fields for the native client. Aliased over the same data exposed by /api/auth/me. The
        KVNR is decrypted server-side; the IKNR (v1.8.6) is returned plaintext.
      responses:
        "200":
          description: The calling user's profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetProfileResponse"
        "401": *a1
        "422": *a2
        "429": *a3
    patch:
      tags:
        - Auth
      summary: Update the calling user's profile
      description: Partial profile update — every field is optional. An explicit null (or empty string) clears a field. A
        non-empty `insurerIkNumber` must be exactly 9 digits (422 otherwise); a non-empty `insuranceNumber` (KVNR) must
        pass the mod-10 check. `userId` is never accepted from the body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfileUpdateRequest"
      responses:
        "200":
          description: Saved profile echoed back.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatchProfileResponse"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/insights/layout:
    get:
      tags:
        - Insights
      summary: Read the calling user's Insights tile layout
      description: Returns the per-user Insights tile layout (visibility + order). Falls back to the default layout when the
        user has not customised it. Mirrors the dashboard-widgets contract.
      responses:
        "200":
          description: The resolved layout (custom or default).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsightsLayout"
        "401": *a1
        "422": *a2
        "429": *a3
    put:
      tags:
        - Insights
      summary: Replace the calling user's Insights tile layout
      description: Persists the full tile layout. The normalised layout is returned. Invalid bodies return the multi-issue 422
        envelope, matching the dashboard-widgets route.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InsightsLayoutBody"
      responses:
        "200":
          description: Layout saved; the normalised layout is echoed back.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsightsLayoutSaved"
        "401": *a1
        "422": *a2
        "429": *a3
    delete:
      tags:
        - Insights
      summary: Reset the calling user's Insights tile layout
      description: Clears the persisted layout and returns the default layout. Idempotent.
      responses:
        "200":
          description: Layout reset; the default layout is returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsightsLayoutReset"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/insights/coach/facts:
    get:
      tags:
        - Insights
      summary: List the caller's durable Coach facts
      description: v1.11.1 — returns the active facts the Coach has extracted about the caller (highest-confidence then newest
        first), each decrypted on the fly. The GDPR 'what do you know about me' surface. Coach-gated
        (`requireAssistantSurface("coach")`). Auth via cookie or Bearer; the owner is always narrowed from the session,
        never the body. Undecryptable rows are omitted rather than failing the read.
      responses:
        "200":
          description: The caller's active facts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoachFactsList"
        "401": *a1
        "422": *a2
        "429": *a3
    delete:
      tags:
        - Insights
      summary: Forget all of the caller's Coach facts
      description: "v1.11.1 — bulk 'forget what you know about me': soft-deletes every active fact for the caller and returns
        the count cleared. Idempotent (a second call clears 0). Coach-gated. Auth via cookie or Bearer."
      responses:
        "200":
          description: All active facts cleared; the count is returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoachFactsCleared"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/insights/coach/facts/{id}:
    delete:
      tags:
        - Insights
      summary: Forget one Coach fact
      description: "v1.11.1 — soft-deletes a single fact owned by the caller. An unknown / cross-user / already-deleted id is
        an idempotent no-op returning `{ deleted: false }`, never revealing whether the id exists under another account.
        Coach-gated. Auth via cookie or Bearer."
      responses:
        "200":
          description: "The fact was soft-deleted (`deleted: true`) or the id matched nothing the caller owns (`deleted: false`)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoachFactDeleted"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/insights/chat/messages/{id}/feedback:
    post:
      tags:
        - Insights
      summary: Rate a Coach assistant message
      description: Persists a helpful/unhelpful rating for a single Coach reply. Reuses the v1.4.16 RecommendationFeedback
        table via the polymorphic `targetType` column. The aggregator buckets ratings by (promptVersion, tone,
        verbosity).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CoachMessageFeedbackRequest"
      responses:
        "201":
          description: Feedback saved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoachMessageFeedbackResponse"
        "401": *a1
        "404":
          description: Message not found or not owned by the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Caller has already rated this message text.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422": *a2
        "429": *a3
  /api/admin/notifications/diagnostic:
    get:
      tags:
        - Admin
      summary: Admin notification diagnostic snapshot
      description: "Admin-only. Returns what the dispatcher would see when targeting the calling admin's account: registered
        devices (APNs tokens masked to prefix + suffix), per-channel enabled + configPresent flags, and recent push
        attempts (currently always `[]` pending the v1.4.48+ PushAttempt table). Cookie auth only — never Bearer."
      responses:
        "200":
          description: Diagnostic snapshot.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminDiagnosticResponse"
        "401": *a1
        "403":
          description: Caller is not an admin.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422": *a2
        "429": *a3
  /api/dashboard/snapshot:
    get:
      tags:
        - Dashboard
      summary: Unified dashboard first-paint snapshot
      description: "Assembles every above-the-fold tile field in one round-trip from the rollup / mood / widget helpers plus a
        read-only lift of the pre-generated daily briefing. Two-phase: `tiles` always present, `extras` nullable on a
        rollup-coverage miss. No LLM is reachable from this path. Cookie or Bearer auth."
      responses:
        "200":
          description: Dashboard snapshot.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardSnapshotResponseEnvelope"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/insights/comprehensive:
    get:
      tags:
        - Insights
      summary: Comprehensive AI insights bundle
      description: Full Insights surface — daily briefing, recommendations with rationale, optional weekly report + storyboard
        annotations. Strict-schema validated server-side.
      responses:
        "200":
          description: Insights bundle.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsightsComprehensiveResponseEnvelope"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/insights/pregenerate:
    post:
      tags:
        - Insights
      summary: Warm all AI assessments for the calling user
      description: v1.8.7.1 — enqueue a full warm of every AI assessment for the authenticated user (comprehensive insight +
        the seven specialised status cards + every data-bearing generic metric assessment) in the active locale, so the
        read-only status GETs serve cached text instantly. Returns immediately; the generation runs out of band on the
        worker. Empty metrics and provider-less accounts never trigger an LLM call. Short anti-spam bucket
        (`insights-warm:<userId>`, one warm per 3 minutes) → 429 on a tight loop. Auth via cookie or Bearer; `userId` is
        taken from the session, never the body.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InsightsPregenerateRequest"
      responses:
        "200":
          description: Warm accepted and enqueued. The work runs on the worker; poll the read-only status routes for the text.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsightsPregenerateResponseEnvelope"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/analytics/range:
    get:
      tags:
        - Analytics
      summary: Single-metric period-over-period range delta
      description: v1.9.0 — returns the current-window aggregate, the previous comparable window, and the composed delta for
        ONE metric type over a `7d` / `30d` / `90d` / `1y` range. Single-type by construction (the metric page is
        single-metric), so the read is one rollup-tier call covering the trailing 2N days sliced into the two halves —
        no per-type fan-out. Additive route; the `/api/analytics` envelope is unchanged. Auth via cookie or Bearer.
      parameters:
        - in: query
          name: type
          schema:
            type: string
            enum:
              - WEIGHT
              - BLOOD_PRESSURE_SYS
              - BLOOD_PRESSURE_DIA
              - PULSE
              - BODY_FAT
              - SLEEP_DURATION
              - ACTIVITY_STEPS
              - BLOOD_GLUCOSE
              - TOTAL_BODY_WATER
              - BONE_MASS
              - OXYGEN_SATURATION
              - HEART_RATE_VARIABILITY
              - RESTING_HEART_RATE
              - ACTIVE_ENERGY_BURNED
              - FLIGHTS_CLIMBED
              - WALKING_RUNNING_DISTANCE
              - VO2_MAX
              - BODY_TEMPERATURE
              - FAT_FREE_MASS
              - FAT_MASS
              - MUSCLE_MASS
              - SKIN_TEMPERATURE
              - PULSE_WAVE_VELOCITY
              - VASCULAR_AGE
              - VISCERAL_FAT
              - AUDIO_EXPOSURE_ENV
              - AUDIO_EXPOSURE_HEADPHONE
              - TIME_IN_DAYLIGHT
              - WALKING_STEADINESS
              - AUDIO_EXPOSURE_EVENT
              - RESPIRATORY_RATE
              - BODY_MASS_INDEX
              - LEAN_BODY_MASS
              - WALKING_HEART_RATE_AVERAGE
              - WALKING_ASYMMETRY
              - WALKING_DOUBLE_SUPPORT
              - WALKING_STEP_LENGTH
              - WALKING_SPEED
              - CARDIO_RECOVERY
              - WRIST_TEMPERATURE
              - FALL_COUNT
              - SIX_MINUTE_WALK_DISTANCE
              - STAIR_ASCENT_SPEED
              - STAIR_DESCENT_SPEED
              - BREATHING_DISTURBANCES
              - IRREGULAR_RHYTHM_NOTIFICATION
              - HIGH_HEART_RATE_EVENT
              - LOW_HEART_RATE_EVENT
              - WALKING_STEADINESS_EVENT
              - BREATHING_DISTURBANCE_EVENT
              - RECOVERY_SCORE
              - STRESS_SCORE
              - STRAIN_SCORE
              - HRV_RMSSD
              - DAY_STRAIN
              - WORKOUT_STRAIN
              - SLEEP_PERFORMANCE
              - SLEEP_EFFICIENCY
              - SLEEP_CONSISTENCY
              - SLEEP_NEED
              - ENERGY_EXPENDITURE_KJ
              - AVERAGE_HEART_RATE
              - MAX_HEART_RATE
              - SLEEP_DISTURBANCE_COUNT
            description: "The measurement type to read (single metric — no fan-out). Closed enum: an unknown type 422s."
          required: true
          description: "The measurement type to read (single metric — no fan-out). Closed enum: an unknown type 422s."
        - in: query
          name: range
          schema:
            type: string
            enum:
              - 7d
              - 30d
              - 90d
              - 1y
            description: "Trailing window: `7d` / `30d` / `90d` / `1y`. The previous comparable window is the equally-sized span
              immediately before it."
          required: true
          description: "Trailing window: `7d` / `30d` / `90d` / `1y`. The previous comparable window is the equally-sized span
            immediately before it."
      responses:
        "200":
          description: Current + previous window aggregates and the delta.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsRangeResponseEnvelope"
        "401": *a1
        "422": *a2
        "429": *a3
  /api/insights/blood-pressure-status:
    get:
      tags:
        - Insights
      summary: Blood-pressure assessment
[...]
